<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>슈퍼메딕</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/logo-fabicon.png">
        <link rel="stylesheet" href="../stylesheets/home.css">
        <link rel="stylesheet" href="../stylesheets/kanban.css">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img class="img_togle" src="" alt="">
                    </span>
                </div>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input id="search" type="text" placeholder="Search...">
                    </li>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/" style="background-color: var(--primary-color);">
                                <i class='bx bx-home-alt icon now' ></i>
                                <span class="text nav-text now">Home</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/dashboard">
                                <i class='bx bx-pie-chart-alt icon' ></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                <span class="text nav-text">Revenue</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Notifications</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-heart icon' ></i>
                                <span class="text nav-text">Likes</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-wallet icon' ></i>
                                <span class="text nav-text">Wallets</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Light mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>    
                </div>
            </div>
        </nav>

        <section class="home">
            <div class="add_patient">
                <button class="add-item" type="button">
                    <i class="bx bx-plus-medical"></i>
                    <span>환자 직접 등록</span>
                </button>
            </div>
            <div class="kanban">
            </div>
        </section>
    </body>
    <script src="/javascripts/kanbanMain.js" type="module"></script>
    <script src="/javascripts/forNav.js"></script>
</html>
