/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #FFF;
    --sidebar-color: #E4E9F7;
    --primary-color: #4EA261;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --panel-color: #FFF;
    --border-color: #e6e5e5;
    --box1-color: #F6F5FF;
    --box2-color: #F6F5FF;
    --box3-color: #F6F5FF;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}
/* === Custom Scroll Bar CSS === */
/* ::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4EA261;
} 
/* 
body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
} */

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --panel-color: #242526;

}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
    height: 100%;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    content: url("../images/Logo.png");
    width: 100%;
    border-radius: 6px;
}
.close header .image img{
    content: url("../images/logo-fabicon.png");
    width: 100%;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}


.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
body.dark .sidebar li a .now{
    color: var(--text-color);
}
.sidebar li a .now{
    color: var(--sidebar-color);
}


.sidebar .menu-bar{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.close .menu-bar{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 1;
}
.mode .sun-moon i.moon{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.moon{
    opacity: 1;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text{
    color: var(--text-color);
}

/**
* Dashboard
*/
.dashboard .dash-content{
    padding-top: 20px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 40px 0 20px 50px;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    /* background-color: var(--primary-color); */
    content: url(../images/logo-fabicon.png);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 27px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 5px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    width: 90%;
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    background-color: var(--box1-color);
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 1.4vw;
    font-weight: bold;
    text-align: center;
    color: #000;
    border-bottom: 1px solid;
    border-color: #e6e5e5;
    padding-bottom: 3px;
    white-space: nowrap;
}
.activity-data .data .data-list{
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    text-align: center;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}
.dashboard{
    position: absolute;
    margin-left: 1rem;
    left: 250px;
    top: 0;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 280px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.nav{
    background-color: var(--primary-color);
}

/**
* patientDetatil
*/
.patient_name{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    /* padding-top: 20px; */
}
.patient_gender, .patient_gender_male{
    position: absolute;
    width: 23px;
    height: 23px;
    margin: 10px 0px 0px 7px;
    display: inline-block;
    border-radius: 50%;
    background-color: #FB88FF;
    color: #fff;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-top: 2px;
}
.patient_gender_male{
    background-color: #0090FF !important;
}
.basic_info{
    position:relative;    
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-top: 30px;
}

.basic{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}
.menu_detail{
    margin-top: 10px;
    border-top: solid 1px;
    border-color: rgba(0,0,0,0.2);
}
.text-title{
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #000 !important;
}
.nav-info:first-child{
    margin-top: 20px !important;
}
.nav-info{
    margin-top: 0px !important;
    margin-left: 10px;
}
body.dark .patient_name {
    color: #ccc;
}
body.dark .basic{
    color: #ccc;
}
body.dark .menu_detail{
    margin-top: 10px;
    border-top: solid 1px;
    border-color: #ccc;
}
.patient_age, .patient_blood_type, .patient_allergy,.patient_height, .patient_weight{
    margin-left: 10px;
    border-left: solid 1px #707070;
    padding-left: 10px;
    line-height: 25px;
    color: #000 !important;
}
.health{
    font-weight: bold !important;
    color: #000 !important;
}
.line{
    margin: 10px;
    display: flex;
    vertical-align: middle;
    text-align: center;
}
.line_title{
    font-size: 1.5vw;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: var(--tran-03);
    min-width: 170px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000 !important;
}
.line_data{
    font-size: 1vw;
    min-width: 100px;
    margin-left: 10px;
    border-left: solid 1px #707070;
    padding-left: 10px;
    line-height: 35px;
    vertical-align: middle !important;
    text-align: center;
    margin: 0 auto;
    color: #000 !important;
}
.line > img{
    padding-left: 5px;
}
.orange{
    width: 8vw;
    content: url("../images/orange.png");
}
.green{
    width: 8vw;
    content: url("../images/green.png");
}
.red{
    width: 8vw;
    content: url("../images/red.png");
}
body.dark .text-title{
    color:#ccc !important;
}
body.dark .text{
    color:#ccc !important;
}
body.dark .line_data{
    color:#ccc !important;
}
body.dark .line_title{
    color:#ccc !important;
}
body.dark .data-title{
    color:#ccc !important;
}